.mapPlaceholder {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.placeholderIcon {
    font-size: 8rem;
}

.iconHovered {
    transform: scale3d(1.15, 1.15, 2);
}

.overlay {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}